.card
  .card-header
    .fa.fa-user
    - if user.online?
      .text-success.fa.fa-user-circle
    - else
      .text-danger.fa.fa-user-circle
    = link_to user.email, user_path(user)

  .card-footer
    Signed up
    = time_ago_in_words(user.created_at)
    ago
  .card-footer
    = 'sign_in_count'.humanize
    = user.sign_in_count
  .card-footer
    = 'current_sign_in_at'.humanize
    = user.current_sign_in_at
  .card-footer
    = 'last_sign_in_at'.humanize
    = user.last_sign_in_at
  .card-footer
    = 'current_sign_in_ip'.humanize
    = user.current_sign_in_ip
  .card-footer
    = 'last_sign_in_ip'.humanize
    = user.last_sign_in_ip
  .card-footer
    Confirmed email?
    - if user.confirmed_at.present?
      .badge.badge-success Yes
    - else
      .badge.badge-danger No
  .card-footer
    - user.roles.each do |role|
      %span.badge.badge-primary
        = role.name.capitalize
    - if policy(user).edit?
      = link_to 'Edit Roles', edit_user_path(user), class: 'badge badge-danger float-right'
