.card
  .card-header
    Editing roles
    = @user.email

  .card-body
    = simple_form_for @user do |f|
      = f.collection_check_boxes :role_ids, Role.all, :id, :name
      = f.error :roles, class: 'text-danger'
      %hr
      = f.button :submit, class: "btn btn-success btn-sm"

  .card-footer
    = link_to 'Cancel', users_path, class: "btn btn-danger btn-sm"
