- content_for :title do
  ScolGeek
  \|
  All Users

%p

%h3
  .text-center
    User
    .badge.badge-info
      = @users.count

/.card-columns
/  - @users.each do |user|
/    = render 'users/user', user: user

%br
.form-inline
  = search_form_for @q do |f|
    = f.search_field :email_cont, placeholder: 'email', class: 'form-control form-control-sm'
    /= f.search_field :sign_in_count_eq, placeholder: 'sign_in_count', class: 'form-control form-control-sm'
    /= f.search_field :email_or_sign_in_count_eq, placeholder: 'email or sign_in_count', class: 'form-control form-control-sm'
    = f.submit class: 'btn btn-success btn-sm'
%p
= link_to users_path, class: 'btn-sm btn-secondary' do
  .fa.fa-sync
    Refresh

%p
.table-responsive
  %table.table.table-bordered.table-striped.table-sm
    %thead
      %tr
        %th id
        %th= sort_link(@q, :email)
        %th created_at
        %th= 'sign_in_count'.humanize
        %th= 'current_sign_in_at'.humanize
        %th= 'last_sign_in_at'.humanize
        %th= 'current_sign_in_ip'.humanize
        %th= 'last_sign_in_ip'.humanize
        %th Confirmed?
        %th Roles

    %tbody
      - @users.each do |user|
        %tr
          %td= user.id
          %td
            - if user.online?
              .text-success.far.fa-user-circle
            - else
              .text-danger.far.fa-user-circle
            = link_to user.email, user_path(user)
          %td= user.created_at
          %td= user.sign_in_count
          %td= user.current_sign_in_at
          %td= user.last_sign_in_at
          %td= user.current_sign_in_ip
          %td= user.last_sign_in_ip
          %td= user.confirmed?
          %td
            - user.roles.each do |role|
              .badge.badge-primary
                = role.name.capitalize
            - if policy(user).edit?
              = link_to 'Edit Roles', edit_user_path(user), class: 'badge badge-danger float-right'
  %br
