- content_for :title do
  ScolGeek
  \|
  Online Courses - Learn Anything , On Your Schedule

.jumbotron
  .display-4
    What do you want to learn today?
    %p
  -  if current_user
    /SEARCH IN NAVBAR
    = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
      .input-group
        = f.search_field :title_or_short_description_cont, class:'form-control-sm', style:'float: left; width: 150px;', placeholder: "Find a course", autocomplete:'on'
        %span.input-group-append
          %button.btn.btn-primary.btn-sm{:type => "submit"}
            %span.fa.fa-search{"aria-hidden" => "true"}

.card-deck
  .card.border-primary.mb-3{:style => "max-width: 18rem;"}
    .card-header
      %h1
        .fa.fa-graduation-cap
    .card-body.text-primary
      %h5.card-title
        = Course.count
        Online course
      %p.card-text Explore a variety of fresh topics.

  .card.border-primary.mb-3{:style => "max-width: 18rem;"}
    .card-header
      %h1
        .fa.fa-chalkboard-teacher
    .card-body.text-primary
      %h5.card-time
        = Course.distinct.count(:user_id)
        Expert instructors
      %p.card-text Find the right instructor for you.

  .card.border-primary.mb-3{:style => "max-width: 18rem;"}
    .card-header
      %h1
        .fa.fa-user-graduate
    .card-body.text-primary
      %h5.card-time
        = User.count
        active learners
      %p.card-text
        Join the knowledge sharing community

  .card.border-primary.mb-3{:style => "max-width: 18rem;"}
    .card-header
      %h1
        .fa.fa-infinity
    .card-body.text-primary
      %h5.card-time
        Lifetime access
      %p.card-text
        Learn on your schedule


%hr
%h2
  Popular courses
.card-columns
  - @courses.each do |course|
    = render 'courses/course', course: course

%hr
%h2
  Top rated courses
.card-columns
  - @courses.each do |course|
    = render 'courses/course', course: course
%hr
%h2
  Lasted courses
.card-columns
  - @lasted_course.each do |course|
    = render 'courses/course', course: course
%hr
