- content_for :title do
  ScolGeek
  \|
  New Enrollment

.card
  .card-header
    %h3
      .fa.fa-graduation-cap
        = link_to @course.title, course_enrollments_path(@course)
        %hr
        .fa.fa-lock-open
        Buy Course
    .card-body
      = form_tag course_enrollments_path(@course) do
        = submit_tag "Pay #{@course.price}" , class: "btn btn-sm btn-success"
    /= render 'form'
  .card-footer
    = link_to 'Back', enrollments_path
