-# frozen_string_literal: true
= simple_form_for([@course, @lesson]) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :title
    /= f.input :content
    = f.label :content
    = f.rich_text_area :content
    %small= f.error :content, class: 'text-danger'
    %p
    = f.association :course
    %p
    /= f.input :course_id, input_html: {value: @lesson.course_id || params[:course_id]}



  .form-actions
    = f.button :submit
