.card
  .card-header
    .far.fa-check-square
    = link_to lesson.title, lesson_path(lesson)
  - if policy(lesson).show?
    .card-body
      = lesson.content
      = lesson.course
  - if policy(lesson).edit?
    .card-footer
      = link_to 'Edit', edit_lesson_path(lesson), class: "btn btn-warning btn-sm"
      = link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm"
%p
