- content_for :title do
  ScolGeek
  \/
  Course
  = @course.title
  \/
  Editing lesson
  = @lesson.title

.card
  .card-header
    %h3
      .far.fa-check-square
      Editing
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Show', @lesson
    \|
    = link_to 'Back', lessons_path
