- content_for :title do
  ScolGeek
  \/
  Course
  \/
  New lesson
  = @lesson.title

.card
  .card-header
    %h3
      .far.fa-check-square
      New lesson
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Back', lessons_path
