- content_for :title do
  ScolGeek
  \/
  Course
  \/
  Editing lesson
  = @lesson.title

%p
= link_to 'Courses', courses_path
\/
= link_to @lesson.course.title, course_path(@lesson.course)
\/
= link_to @lesson.title, lesson_path(@lesson)
%p



= render 'lessons/lesson', lesson: @lesson

= link_to 'Back to course', course_path(@lesson.course)
