- content_for :title do
  ScolGeek
  \|
  Editing
  = @course.title

.card
  .card-header
    %h3
      .fa.fa-graduation-cap
        Editing Course
    .card-body
      = render 'form'
    .card-footer
      = link_to 'Show', @course
      \|
      = link_to 'Back', courses_path(@course)
