- content_for :title do
  ScolGeek
  \|
  All Courses
%p

%h3
  .text-center
    Courses
    .badge.badge-info
      = @courses.count
%p
.row
  .col-md-2
    = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
      = f.label :title
      = f.search_field :title_or_short_description_cont, placeholder: 'Title', class: 'form-control form-control-sm'
      %br
      = f.label :description
      = f.search_field :short_description_cont, placeholder: 'Description', class: 'form-control form-control-sm'
      %br
      = f.label :languages
      = f.select :language_cont, Course.languages, placeholder: 'Language', class: 'form-control form-control-sm'
      %br
      %br
      = f.label :levels
      = f.select :level_cont, Course.levels, placeholder: 'Level', class: 'form-control form-control-sm'
      %br
      %br
      = f.label :price
      = f.search_field :price_eq, placeholder: 'Price', class: 'form-control form-control-sm'
      %br
      = f.label :Teacher
      = f.search_field :user_email_cont, placeholder: 'email', class: 'form-control form-control-sm'
      %br
      = f.submit class: 'btn btn-success btn-sm btn-block'
      %br
    .ml-2
    = link_to courses_path do
      Refresh
      .fa.fa-sync
  .col-md-10
    .card-columns
      - @courses.each do |course|
        = render 'courses/course', course: course
        %p
    != pagy_bootstrap_nav(@pagy)
