- content_for :title do
  ScolGeek
  \|
  New Course

.card
  .card-header
    %h3
      .fa.fa-graduation-cap
      New course
    .card-body
      = render 'form'
    .card-footer
      = link_to 'Back', courses_path
