- content_for :title do
  ScolGeek
  \|
  = @course.title

%p
= link_to 'Courses', courses_path
\/
= link_to @course.title, course_path(@course)
%p

.row
  .col-lg-6
    = render 'courses/course', course: @course
  .col-lg-6
    = link_to 'Add Lesson', new_lesson_path(@course, @lesson), class: 'btn btn-primary btn-sm btn-block'
    %p
    - @lessons.each do |lesson|
      = render 'lessons/lesson', lesson: lesson
