/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

.fa, .fas {
    font-family: 'Roboto', sans-serif;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    height: 53px;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    height: 53px;
}

.bg-purple{
    background-color: #563d7c; !important;

}

#table1 {
    @extend .table, .table-hover, .table-responsive-xl, .table-bordered, .table-sm, .bg-white
}

.form-control.is-invalid { background-image: none; }
.form-control.is-valid { background-image: none; }

.bg-background {
    background-color: #563d7c; !important;
    color: white;
    position: auto;
    bottom: 0;
    width: 100%;
    height: 9%;
}
