%br
%footer
  .container
    .row
      .col-md-4
        Copyright
        = Time.now.year
        &copy;
        Plataform SkolGeek
        .row
        .fa.fa-envelope
        = mail_to 'dtinivella@gmail.com'
        .row
      .col-md-4
        Privacy policy
        .row
        Term and conditions
      .col-md-4
        About us
        .row
          = link_to 'Teach on SkolGeek', new_course_path
%br
