%nav.navbar.navbar-expand-lg.navbar-dark.bg-purple
  %a.navbar-brand{:href => "#"} <i class="fas fa-graduation-cap"></i> SkolGeek
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    - if current_user
      %ul.navbar-nav.mr-auto
        %li.nav-item{class: "#{'active font-weight-bold' if current_page?(root_path)}"}
          = link_to root_path, class: 'nav-link' do
            .fa.fa-home
        %li.nav-item{class: "#{'active font-weight-bold' if current_page?(courses_path)}"}
          = link_to courses_path, class: 'nav-link' do
            .fa.fa-user-graduate
              Courses

        %li.nav-item{class: "#{'active font-weight-bold' if current_page?(new_course_path)}"}
          = link_to new_course_path, class: 'nav-link' do
            .fa.fa-plus
              New Courses

        %li.nav-item{class: "#{'active font-weight-bold' if current_page?(users_path)}"}
          = link_to users_path, class: 'nav-link' do
            .fa.fa-users
              Users

        %li.nav-item{class: "#{'active font-weight-bold' if current_page?(enrollments_path)}"}
          = link_to enrollments_path, class: 'nav-link' do
            .fa.fa-lock-open
              Enrollment

      /SEARCH IN NAVBAR
      = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
        .input-group
          = f.search_field :title_or_short_description_cont, class:'form-control-sm', style:'float: left; width: 150px;', placeholder: "Find a course"
          %span.input-group-append
            %button.btn.btn-primary.btn-sm{:type => "submit"}
              %span.fa.fa-search{"aria-hidden" => "true"}

      %ul.navbar-nav.ml-auto
        %li.nav-item{class: "#{'active font-weight-bold' if current_page?(home_activity_path)}"}
          = link_to home_activity_path, class: 'nav-link' do
            .fa.fa-bell
              Activity
          %li.nav-item
          %li.nav-item.dropdown
            %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %i.fa.fa-user
              %b= current_user.email
            .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
              = link_to edit_user_registration_path,class:"dropdown-item" do
                .fa.fa-cog
                %b Account settings
              = link_to destroy_user_session_path, method: :delete, class:"dropdown-item" do
                .fa.fa-sign-out-alt
                %b Sign out
    - else
      %ul.navbar-nav.ml-auto
        %li.nav-item= link_to 'Registrer', new_user_registration_path, class: "btn btn-primary btn-sm"
        %p &nbsp;
        %li.nav-item= link_to 'Login', new_user_session_path, class: "btn btn-primary btn-sm"
