!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=devise-with, initias-scale=1.0", :name => "viewport" }/
    %title
      = content_for?(:title) ? yield(:title) : "ScolGeek"
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://fonts.gstatic.com", :rel => "preconnect"}/
    %link{:href => "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap", :rel => "stylesheet"}/
  %body
    = render 'layouts/header'
    = render 'layouts/messages'
    .container
      %p
        = yield
      %br
  .bg-background
    = render 'layouts/footer'
    %div
